---

---

<div class="my-4 mt-20">
  <p class="text-text-200 text-xl leading-8">
    This is an <span class="font-bold">Astro Theme template</span> page. This template
    is crafted with ease and speed in mind, making it ideal for those who want to
    deploy a clean and simple page quickly. It works perfectly as a temporary "Currently
    under construction" page or as a <span class="italic"
      >digital business card
    </span>page for individuals or small companies who just want their basic
    information online. Made with <a
      class="font-bold text-primary-100"
      href="https://astro.build/"
      target="_blank"
      rel="noopener noreferrer">Astro</a
    > and <a
      class="font-bold text-primary-100"
      href="https://tailwindcss.com/"
      target="_blank"
      rel="noopener noreferrer">Tailwind</a
    >.
    <br /><br /> Read more, fork or clone it on <a
      class="font-bold text-primary-100"
      href="https://github.com/hyddeos/Mallen"
      target="_blank"
      rel="noopener noreferrer">Github</a
    >.
  </p>
</div>
