---
import { Icon } from 'astro-icon/components'

const { contact } = Astro.props;
---


<div class="mt-10 text-text-200 text-center">
	<h3 class="text-center text-text-100 text-4xl py-4" >Contact</h3>
	<div class="flex flex-wrap justify-evenly text-2xl pb-4">
		<div class="p-2 my-2">
			<Icon name="mdi:phone" class="border-2 rounded-full border-primary-200 text-primary-100 m-auto size-14 p-2 my-2" />
			<p>{contact.phone}</p>
		</div>
		<div class="p-2 my-2">
			<Icon name="mdi:mail" class="border-2 rounded-full border-primary-200 text-primary-100 m-auto size-14 p-2 my-2" />
			<p>{contact.mail}</p>
		</div>
		<div class="p-2 my-2">
			<Icon name="mdi:location" class="border-2 rounded-full border-primary-200 text-primary-100 m-auto size-14 p-2 my-2" />
			<p>{contact.adress}</p>
			<p class="text-xl">{contact.adress2}</p>
		</div>
	</div>
</div>
