---


const { title, slogan } = Astro.props;
---
<div class="my-4">
	<h1 class="md:text-8xl text-6xl mb-5 text-primary-100 font-extrabold uppercase text-center">{title}</h1>
	<h2 class="italic text-primary-200 md:text-6xl text-4xl text-center">
		{slogan}
	</h2>
</div>

