---


const { title, slogan } = Astro.props;
---
<div class="my-4">
	<h1 class="text-8xl mb-5 text-primary-100 font-extrabold uppercase text-center">{title}</h1>
	<h2 class="text-white italic text-primary-200 text-6xl text-center">
		{slogan}
	</h2>
</div>

